@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 5px;
  width: 4px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: theme("colors.background.500");
}

::-webkit-scrollbar-thumb {
  background-color: theme("colors.background.600");
}

@layer base {
  body {
    background-color: theme("colors.background.500");
    color: theme("colors.foreground.500");
    @apply font-inter;
  }
  input {
    @apply block w-full rounded-md border border-background-600 bg-background-400 p-2.5 text-sm placeholder-gray-400 placeholder-foreground-300 focus:outline-none selection:bg-secondary-500;
  }
  select {
    @apply block w-full rounded-md border border-background-600 bg-background-400 p-2.5 text-sm placeholder-gray-400 selection:border-none focus:outline-none;
  }
  tbody {
    @apply px-8;
  }
  td,
  th {
    @apply p-4;
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-5 py-2.5 text-sm text-background-500 focus:outline-none;
  }
  .btn-primary {
    @apply bg-primary-500 text-foreground-500 hover:bg-primary-600;
  }
  .btn-secondary {
    @apply bg-secondary-500 text-foreground-500 hover:bg-secondary-600;
  }
}
