@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: theme("colors.background-variant");
}

::-webkit-scrollbar-thumb {
  background-color: theme("colors.secondary");
}

@layer base {
  body {
    background-color: theme("colors.background");
    @apply text-white;
  }
  input {
    @apply block w-full rounded-lg bg-background-variant p-2.5  text-sm text-white placeholder-gray-400 selection:border-none focus:ring-blue-500;
  }
  select {
    @apply block w-full rounded-lg bg-background-variant p-2.5 text-sm text-white placeholder-gray-400;
  }
  tbody {
    @apply px-8;
  }
  td,
  th {
    @apply p-4;
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-5 py-2.5 text-sm font-medium text-white focus:outline-none;
  }
  .btn-primary {
    @apply bg-primary hover:bg-primary-variant;
  }
}
